body {
	background: #fff;
	transition: all 0.5s ease-in;
} 

.body-gray {
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0.8;
	z-index: 100;
	transition: all 0.5s ease-in;
	.header-menu {
		z-index: 9999;
	}
	#mbtn {
		z-index: 9999;
	}
}