.courses {
	width: 100%;
	height: auto;
	background-color: #fff;
	h2 {
		text-align: center;
		color: #1a1a1a;
		font-family: "Nunito Sans";
		font-size: 48px;
		font-weight: 700;
		line-height: 60px;
	}
}

.bg {
	background-color: #f1f1f1;
}

.top-box {
	border-bottom: 2px solid rgba(71, 71, 72, 0.2);
	img {
		margin-bottom: 36px;
		width: 100%;
		height: auto;
		display: inline-block;
	}
	h3 {
		color: #1a1a1a;
		font-family: "Nunito Sans";
		font-size: 30px;
		font-weight: 700;
		line-height: 36px;
		margin-bottom: 17px;
		margin-left: 30px;
	}
	p {
		color: #484848;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		margin-left: 30px;
		margin-bottom: 26px;
	}
}

.bottom-box {
	text-align: center;
	ul {
		margin: 0 45px;
		padding: 0;
		list-style-type: none;
		margin-bottom: 72px;
		li {
			color: #1a1a1a;
			font-family: "Nunito Sans";
			font-size: 24px;
			font-weight: 700;
			border-bottom: 2px solid rgba(71, 71, 72, 0.2);
			padding-top: 20px;
			padding-bottom: 16px;
			width: 100%;
		}
	}
	a {
		border-radius: 25px;
		background-color: #27ae60;
		padding: 16px 86px;
		color: #ffffff;
		font-family: "Nunito Sans";
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 25px;
		display: inline-block;
		&:hover {
			text-decoration: none;
		}
	}
}

@media only screen and (max-width: 992px) {
	.desctop-block {
		display: none;
	}
	
	.courses {
		.tablet-block {
			.courses-slider {
				margin-bottom: 15px;
				.slick-dots {
					position: relative;
					margin-top: 15px;
					bottom: 0;
					li {
						height: 14px;
						width: 14px;
						button {
							height: 14px;
							width: 14px;
							border: 2px solid #1a1a1a;
							border-radius: 50%;
						}
						button:before {
							display: none;
						}
					}
					li.slick-active {
						button {
							border-color: #27ae60;
							background-color: #27ae60;
						}
					}
				}
				.slick-list {
					.slick-track {
						.slick-slide {
							div {
								.courses-slide-box {
									padding: 0 25px;
									.courses-slide {
										background-color: #f1f1f1;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width : 992px) {
	.tablet-block {
		display: none;
	}

	.courses-desc-box {
		background-color: #f1f1f1;
		margin-bottom: 25px;
	}

	.all {
		margin: 0 auto;
		opacity: 0.5;
		color: #1a1a1a;
		font-family: "Nunito Sans";
		font-size: 24px;
		font-weight: 700;
		cursor: pointer;
		margin-bottom: 70px;
	}

	.all:hover {
		cursor: pointer;
		color: #1a1a1a;
		text-decoration: none; 
	}
}


