.shop-header {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	.shop-top-header {
		background-color: #ffffff;
		width: 100%;
		height: auto;
		.shop-top-header-block {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin: 10px 0;
			.contact {
				ul {
					margin: 0;
					padding: 0;
					list-style-type: none;
					li {
						display: inline-block;
						margin-right: 30px;
						span {
							img {
								border: 1px solid #ececec;
								padding: 10px;
								margin-right: 12px;
							}
						}
						color: #181717;
						font-family: Montserrat;
						font-size: 14px;
						font-weight: 300;
						line-height: 24px;
						text-transform: uppercase;
					}
				}
				@media only screen and (max-width : 768px) {
					ul {
						li {
							margin: 5px 0;
							display: inline-block;
							span {
								img {
									border: none;
									border: 1px solid #ececec;
									padding: 6px;
								}
							}
							font-size: 12px;
						}
					}
				}
			}
			.search {
				form {
					position: relative;
					input {
						border: 1px solid #eeeeee;
						border-radius: 20px;
						outline: none;
						padding: 5px 10px;
					}
					input::placeholder{
						color: #c2c2c2;
						font-family: Montserrat;
						font-size: 13px;
						font-weight: 400;
						line-height: 26px;
						text-transform: uppercase;
					}
					.shop-search-btn {
						position: absolute;
						background-image: url('../../images/search-icon.png');
						background-color: transparent;
						background-repeat: no-repeat;
						width: 20px;
						height: 15px;
						top: 10px;
						right: 10px;
						border: none;
						background-size: contain;
					}
				}
			}
		}
	}
	.shop-center-header {
		width: 100%;
		height: auto;
		background-color: #181616;
		.shop-center-header-block {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-top: 50px;
			padding-bottom: 50px;
			h2 {
				display: inline-block;
				width: auto;
				margin: 0;
				padding: 0;
				a {
					color: #ffffff;
					font-family: Montserrat;
					font-size: 48px;
					font-weight: 700;
					line-height: 40px;
					letter-spacing: -3.6px;
					text-decoration: none;
					
				}
			}
			p {
				color: #ffffff;
				font-family: Montserrat;
				font-size: 16px;
				font-weight: 400;
				line-height: 40px;
				letter-spacing: -0.8px;
				padding: 0;
				margin: 0;
			}
		}
	}





	.shop-bottom-header {
		background-color: #f8f8f8;
		width: 100%;
		height: 55px;
		@media only screen and (max-width : 768px) {
			height: auto;
			width: 100%;
		}
		.shop-bottom-header-block {
			width: 100%;
			height: auto;
			@media only screen and (min-width : 768px) {
				height: 55px;
			}
			@media only screen and (max-width : 768px) {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			.menu-shop {
				height: inherit;
			}
			@media only screen and (max-width : 768px) {
				.menu-shop {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					.shop-menu-btn {
						display: block;
						width: 50px;
						height: 50px;
						cursor: pointer;
						position: relative;
						span {
							position: absolute;
							top: 50%;
							margin-left: -20px;
							left: 50%;
							margin-top: -1px;
							width: 40px;
							height: 2px;
							background-color: #222;
							&::before, &::after {
								position: absolute;
								top: 50%;
								margin-left: -20px;
								left: 50%;
								margin-top: -1px;
								width: 40px;
								height: 2px;
								background-color: #222;
							}
							&::before, &::after {
								content: '';
								display: block;
								transition: 0.2s;
							}
							&::before {
								transform: translateY(-10px);
							}
							&::after {
								transform: translateY(10px);
							}
						}
					}
					.shop-menu-btn-active span {
						&:before {
							transform: rotate(45deg);
						}
						height: 0;
						&:after {
							transform: rotate(-45deg);
						}
					}
				}
			}
			@media only screen and (min-width : 768px) {
				.mmenu-shop {
					display: none!important;
				}
			}
			@media only screen and (max-width : 768px) {
				.mmenu-shop {
					border-top: 1px solid #ececec;
					display: none;
					ul {
						width: 100%;
						height: auto;
						list-style-type: none;
						margin: 0;
						padding: 0;
						li {
							margin: 10px 0;
							a {
								width: 100%;
								display: inline-block;
								text-decoration: none;
								color: #333333;
								font-family: Montserrat;
								font-size: 12px;
								font-weight: 400;
								line-height: 24px;
								text-transform: uppercase;
								letter-spacing: 0.6px;
							}
						}
						li.active {
							a {
								color: #23a0bf;
								text-decoration: underline;
							}
						}
					}
				}
			}
			.menu-shop {
				@media only screen and (min-width : 768px) {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
				}
				.menu-left {
					@media only screen and (max-width : 768px) {
						display: none;
					}
				}
			}
			.menu-shop {
				.menu-left {
					width: 100%;
					height: auto;
					ul {
						list-style-type: none;
						margin: 0;
						padding: 0;
						position: relative;
						height: 55px;
						width: auto;
						li {
							position: relative;
							display: inline-block;
							height: inherit;
							width: auto;
							padding: 0 15px;
							a {
								display: flex;
								align-items: center;
								width: auto;
								height: 100%;
								text-decoration: none;
								color: #333333;
								font-family: Montserrat;
								font-size: 12px;
								font-weight: 400;
								line-height: 24px;
								text-transform: uppercase;
								letter-spacing: 0.6px;
							}
						}
						li.current-menu-item {
							background-color: #fff;
						}
						li.current-menu-item::before{
							display: block;
							position: absolute;
							content: "";
							height: 3px;
							width: 100%;
							background: #23a0bf;
							bottom: 0;
							left: 0;
							right: 0;
						}
						@media only screen and (max-width : 768px) {
							width: auto;
							height: auto;
							display: flex;
						}
					}
				}
				.menu-right {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
					align-items: center;
					ul {
						width: auto;
						height: 100%;
						border-left: 1px solid #ececec;
						margin: 0;
						padding: 0;
						list-style-type: none;
						display: flex;
						flex-direction: row;
						align-items: center;
						.ac-panel {
							height: 100%;
							width: auto;
							margin-left: 15px;
							a {
								display: flex;
								align-items: center;
								width: auto;
								height: 100%;
								text-decoration: none;
								color: #222222;
								font-family: Montserrat;
								font-size: 14px;
								font-weight: 400;
								line-height: 60px;
								img {
									border: 1px solid #ececec;
									padding: 10px;
									margin-right: 12px;
								}
							}
						}
						.cart-punkt {
							height: 100%;
							width: auto;
							margin-left: 23px;
							.cart-contents {
								display: block;
								width: auto;
								height: 100%;
								text-decoration: none;
								color: #222222;
								font-family: Montserrat;
								font-size: 14px;
								font-weight: 400;
								line-height: 60px;
								span {
									width: auto;
									height: 100%;
								}
								i {
									margin-right: 10px;
									font-size: 16px;
									color: #23a0bf;
									border: 1px solid #ececec;
									padding: 10px;
								}
								.cart-txt {
									width: auto;
									height: 100%;
									.count-cart {
										background: #23a0bf;
										border-radius: 50%;
										padding: 4px 6px;
										color: #ffffff;
										font-family: Lato;
										font-size: 14px;
										font-weight: 400;
										line-height: 60px;
									}
								}
								span {
									color: #222222;
									font-family: Montserrat;
									font-size: 14px;
									font-weight: 400;
									line-height: 60px;
								}
								.item {
									margin: 0 5px;
								}
								.count {
									background-color: #23a0bf;
									border-radius: 50%;
									padding: 5px 8px;
									color: #fff;
								}
							}
							.widget_shopping_cart {
								width: auto;
								position: absolute;
								z-index: 999;
								background-color: whitesmoke;
								box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.4) !important;
								border-radius: 5px 0 5px 5px;
								display: none;
								.widget_shopping_cart_content {
									padding: 10px 15px;
									.woocommerce-mini-cart {
										width: 100%;
										height: auto;
										display: flex;
										flex-direction: column;
										border-left: none;
										li {
											height: auto;
											width: 100%;
											position: relative;
											border-bottom: 1px solid #ececec;
											margin-bottom: 10px;
											margin-right: 10px;
											a {
												line-height: 30px;
												display: block;
												width: auto;
												height: 100%;
												text-decoration: none;
												color: #222222;
												font-family: Montserrat;
												font-size: 14px;
												font-weight: 400;
											}
											a.remove {
												height: auto;
												width: auto;
												display: flex;
												align-items: center;
												line-height: 0;
												position: absolute;
												left: 5px;
												top: 50%;
												font-size: 20px;
											}
										}
										li:last-child {
											border: none;
										}
									}
								}
							}
							.widget_shopping_cart-open {
								display: block;
							}
						}
						



					}
				}
			}
		}
	}
}















