.teacher-section {
	width: 100%;
	height: auto;
	background-color: #f1f1f1;
	h2{
		margin-top: 80px;
		text-align: center;
		color: #1a1a1a;
		font-family: "Nunito Sans";
		font-size: 48px;
		font-weight: 700;
		line-height: 60px;
	}
}