.woocommerce {
	.checkout {
		.woocommerce-billing-fields {
			h3 {
				text-align: center;
			}
			.woocommerce-billing-fields__field-wrapper {
				p.form-row {
					margin: 0px 0px 25px;
					label {
						color: #181616;
						font-family: "Open Sans";
						font-size: 14px;
						font-weight: 300;
						line-height: 24px;
						margin-bottom: 0;
					}
					span.woocommerce-input-wrapper {
						width: 100%;
						input {
							border: none;
							border-left: 2px solid #0079be;
							background-color: #F2F2F2;
							padding: 14px 5px;
						}
						input:focus {
							border-left: 2px solid #74B266;
						}
					}
				}
				#billing_company_field {
					display: inline;
				}
			}
		}
		.woocommerce-additional-fields {
			h3 {
				text-align: center;
				margin-top: 35px;
			}
			.woocommerce-additional-fields__field-wrapper {
				#order_comments_field {
					display: inline;
					label {
						display: inline;
						color: #181616;
						font-family: "Open Sans";
						font-size: 14px;
						font-weight: 300;
						line-height: 24px;
						margin-bottom: 0;
					}
					.woocommerce-input-wrapper {
						textarea {
							width: 100%;
							height: 8em;
						}
					}
				}
			}
		}
		#order_review_heading {
			text-align: center;
		}
	}
}
