.content-shop-page {
	margin-top: 65px;
	.shop-sidebar {
		.categories {
			h3 {
				color: #23a0bf;
				font-family: Montserrat;
				font-size: 12px;
				font-weight: 400;
				line-height: 32px;
				text-transform: uppercase;
				letter-spacing: 0.6px;
			}
			ul {
				margin: 0;
				padding: 0;
				padding-bottom: 45px;
				margin-bottom: 90px;
				list-style-type: none;
				border-bottom: 1px solid #ececec;
				li {
					display: flex;
					align-items: center;
					a {
						color: #727272;
						font-family: "Open Sans";
						font-size: 14px;
						font-weight: 400;
						line-height: 36px;
						text-decoration: none;
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;
						height: auto;
					}
					span {
						float: right;
						background-color: #23a0bf;
						border-radius: 50%;
						color: #ffffff;
						font-family: "Open Sans";
						font-size: 12px;
						font-weight: 400;
						line-height: 28px;
						width: 29px;
						height: 25px;
						display: inline-block;
						position: relative;
						text-align: center;
					}
				}
				li.current-cat {
					a {
						color: #23a0bf;
						text-decoration: underline;
					}
				}
				li:before {
					display: inline-block;
					width: 10px;
					height: 10px;
					content: "";
					border: 1px solid #898989;
					border-radius: 50%;
					margin-right: 17px;
					margin-top: -4px;
				}
			}
		}
		.widget_top_rated_products {
			h3 {
				color: #23a0bf;
				font-family: Montserrat;
				font-size: 12px;
				font-weight: 400;
				line-height: 10px;
				text-transform: uppercase;
				letter-spacing: 0.24px;
				margin-bottom: 30px;
			}
			ul.product_list_widget {
				width: 100%;
				height: auto;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				li {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					margin-bottom: 25px;
					.product-images {
						margin-right: 16px;
					}
					a {
						width: auto;
						height: auto;
						text-decoration: none;
						.product-title {
							width: auto;
							height: auto;
							background-color: transparent;
							color: #333333;
							font-family: Montserrat;
							font-size: 14px;
							font-weight: 400;
							line-height: 20px;
							letter-spacing: 0.28px;
							margin-left: 10px;
						}
						img {
							width: 35%;
						}
					}
					.amount {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: auto;
						background-color: transparent;
						color: #333333;
						font-family: Lato;
						font-size: 13px;
						font-weight: 700;
						line-height: 10px;
						letter-spacing: 0.26px;
						span {
							background-color: transparent;
						}
					}
				}
				li:before {
					display: none;
				}
			}
		}
	}
	ul.products {
		li.product {
			transition: 0.2s;
			a {
				h2 {
					padding-top: 5px;
					padding-bottom: 15px;
					margin: 0;
					border-bottom: 1px solid #ececec;
					text-decoration: none;
					color: #222222;
					font-family: Montserrat;
					font-size: 16px;
					font-weight: 400;
					line-height: 30px;
					margin: 0;
				}
				.price {
					text-align: right;
					color: #222222;
					font-family: Montserrat;
					font-size: 16px;
					font-weight: 400;
					line-height: 60px;
				}
			}
			.add_to_cart_button {
				width: auto;
				height: auto;
				float: right;
				border: 1px solid #ececec;
				color: #222222;
				background: transparent;
				font-family: Montserrat;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				text-transform: uppercase;
				text-decoration: none;
				padding: 12px 15px;
			}
		}
		li:hover {
			transition: 0.2s;
			-webkit-box-shadow: 3px 3px 5px 2px rgba(245,245,245,1);
			-moz-box-shadow: 3px 3px 5px 2px rgba(245,245,245,1);
			box-shadow: 3px 3px 5px 2px rgba(245,245,245,1);
		}
	}
	.woocommerce-result-count {
		color: #727272;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 400;
		line-height: 36px;
	}
	.woocommerce-ordering {
		select {
			outline: none;
			background-color: transparent;
			border: 1px solid #ececec;
			height: 30px;
			color: #727272;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			line-height: 36px;
			option:hover {
				background-color: red!important;
			}
		}
	}
}

.woocommerce {
	a.added_to_cart {
		padding-top: 0;
		color: #23a0bf;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		text-decoration: none;
		position: absolute;
		bottom: 14px;
	}
}











































